/* back color blue 21497A */
/* width */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*--thank you pop starts here--*/
.modal-popup{
	z-index: 99;
	display: block;
	margin-top: 10vh;
}
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0);
}

*{
	font-family: 'Baloo Bhai', cursive;
}
h1,h4{
	font-weight: bold;
}
.head{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 15px;
	height: 150px;
	background: #FFF;
	z-index: 99;
}
.head-logo{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
.head-logo li {
	float: left;
	width: 50%;
	margin: 0;
}
.head-left{
	padding: 20px 0;
}
.head-left img{
	max-width: 140px;
}
.head-right{
	text-align: right;
	padding: 30px 0;
}
.chart{
	position: fixed;
	background: #2980b9;
	top: 0;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	right: 15px;
	color: #FFF;
}
.chart h1,h5{
	padding: 0;
	margin: 0;
}

.chart h1{
	font-size: 70px;
}
.chart h5{
	font-size: 20px;
}
.kotak-meja{
	font-size: 18px;
	background: #f1f1f1f1;
	padding: 10px;
	border-radius: 5px;
	color: #000;
}
.kotak-meja-menu{
	position: absolute;
	bottom: 15px;
}
.harga-produk{
	position: absolute;
	background: #f1f1f1f1;
	padding: 10px;
	color: #000;
	bottom: 35px;
	right: 0;
}
.nama-produk{
	position: absolute;
	background: #2980b9;
	padding: 10px;
	color: #FFF;
	top: 0;
	width: 100%;
	left: 0;
	text-align: center;
}
.content-app{
	height: 80vh;
	padding: 22vh 0;
}
.content-menu{
	padding-top: 165px
}
.call-support{
	margin: 20px 0;
	padding: 20px 0;
}
.form-nama-pemesan{
	max-width: 450px;
}
.menu-kategori{
	width: 100%;
	overflow: hidden;
	margin: 20px 0;
}
.menu-kategori ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu-kategori li {
	float: left;
	padding: 5px 20px;
	color: #000;
	border-radius: 5px;
	font-size: 18px;
	transition: 0.2s;
}

.grup-list-produk{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.kotak-produk{
	max-height: 230px;
	padding: 10px;
	padding-top: 50px;
	margin : 10px 0;
	position: relative;
	border:1px solid black;
	border-radius: 10px;
	overflow: hidden;
}
.kotak-produk img{
	max-width: 100%;
}
.menu-kategori li:hover{
	background: #f1f1f1f1;
}

.menu-kategori li.aktif{
	background: #f1f1f1f1;
	font-weight: bold;
}
.menu-kategori li.aktif:hover{
	background: #c6c6c6;
}
.btn{
	font-weight: bold;
	font-size: 20px;
	padding: 5px 25px;
}
.btn-help{
	font-size: 15px;
	background: #e67e22;
	border-color: #e67e22
}
.btn-help:hover{
	background: #d35400;
	border-color: #d35400
}
.btn-tambah-keranjang{
	font-size: 15px;
	width: 100%;
	position: absolute;
	background: #2980b9;
	border-color: #2980b9;
	bottom: 0;
	cursor: pointer;
	left: 0;
}
.btn-tambah-keranjang:hover{
	background: #1f6797;
	border-color: #1f6797
}
.text-footer{
	padding: 10px 0;
	margin:0;
}
.button-next{
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 5px 23px;
	font-size: 40px;
	background: green;
	color: #FFF;
	z-index: 99;
	border-radius:100%;
}
.cart{
	overflow: hidden;
	margin: 0 auto;
	width: 85%;
	height: 100%;
}
.container-list{
	height: 600px;
	width: 100%;
}
.waiting{
	margin-top: 30vh;
}
.progress{
	margin: 40px 0;
}
.container-dashboard{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;	
}
.head-dashboard{
	padding: 30px;
	padding-bottom: 130px;
	width: 100%;
	margin: 0;
	margin-bottom: -90px; 
	background: #2980b9;
	color: #FFF;
}
.content-dashboard{
	padding: 0 30px;
	margin: 0;
	width: 100%;
}
.content-dashboard-kasir{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.head-menu{
	background: -moz-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(33,73,122,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(359deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#21497A',GradientType=0 ); /* ie6-9 */
	padding: 20px;
	padding-bottom: 80px;
	width: 100%;
	margin: 0;
	margin-bottom: -20px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	color: #FFF;
}
.head-menu p {
	margin:0;
}
.head-menu h1{
	font-size: 60px;
}
.head-menu-kasir{
	background: -moz-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(26,6,6,1)), color-stop(100%, rgba(14,0,84,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E0054', endColorstr='#1A0606',GradientType=1 ); /* ie6-9 */
	padding: 20px;
	width: 100%;
	margin: 0;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	color: #FFF;
}
.head-menu-kasir p {
	margin:0;
}
.head-menu-kasir h1{
	font-size: 60px;
}
.head-keranjang{
	background: -moz-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(33,73,122,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(359deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#21497A',GradientType=0 ); /* ie6-9 */
	padding: 20px;
	width: 100%;
	margin: 0;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	color: #FFF;
}
.head-keranjang p {
	margin:0;
}
.head-keranjang h1{
	font-size: 60px;
}
.head-keranjang h4{
	text-align: left;
}
.content-menu{
	padding: 0 30px;
	margin: 0;
	width: 100%;
}
.content-menu-kasir{
	padding: 0 30px;
	margin: 30px auto;
}

.content-menu-kasir-det{
	padding: 0;
	margin: 0;
	width: 100%;
}
.content-menu-kasir-det table{
	margin: 0;
	width: 100%;
}
.float-bar{
	padding:20px;
	background: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	margin:10px;
	border-radius: 10px;
	overflow: hidden;
}
.main-menu-bar{
	padding: 0;
	margin:0;
	list-style: none;
}
.main-menu-bar li {
	float:left;
	width: 33.3%;
	text-align: left;
	vertical-align: middle;
}
.main-menu-bar span {
	color: rgba(0,0,0,0.5);
}
.main-menu-bar i{
	font-size: 40px;
	margin-bottom: 20px;
}
.main-menu-bar b{
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: lighter;
}
.main-menu-bar li.active{
	/*text-shadow: 0 3px 5px rgba(0,0,0,0.5);*/
	color: #2980b9;
}

.main-menu-bar-dapur{
	padding: 0;
	margin:0;
	list-style: none;
}
.main-menu-bar-dapur li {
	float:left;
	width: 25%;
	text-align: left;
	vertical-align: middle;
}
.main-menu-bar-dapur span {
	color: rgba(0,0,0,0.5);
}
.main-menu-bar-dapur i{
	font-size: 40px;
	margin-bottom: 20px;
}
.main-menu-bar-dapur b{
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: lighter;
}
.main-menu-bar-dapur li.active{
	/*text-shadow: 0 3px 5px rgba(0,0,0,0.5);*/
	color: #2980b9;
}

.main-menu-bar-menu > a{
	text-decoration: none;
	color: black;
}

.main-menu-bar-menu{
	padding: 0;
	margin:0;
	width: 100%;
	list-style: none;
}
.main-menu-bar-menu li {
	float:left;
	text-align: center;
	vertical-align: middle;
	width: 33.3%;
}
.main-menu-bar-menu i{
	font-size: 40px;
	margin-bottom: 20px;
}
.main-menu-bar-menu b{
	font-size: 30px;
	margin-bottom: 20px;
}
.main-menu-bar-menu span{
	font-weight: bold;
}
.main-menu-bar-menu li.active{
	/*text-shadow: 0 3px 5px rgba(0,0,0,0.5);*/
	color: #2980b9;
}

.main-menu-bar > a{
	text-decoration: none;
	color: black;
}

.list-bar{
	margin: 20px auto;
	padding:20px;
	background: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.list-bar-menu{
	margin: 20px auto;
	padding:20px ;
	padding-left: 150px;
	background: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.2s;
	overflow: hidden;
}
.list-bar-menu span{
     width: 150px;
     overflow: hidden;
     text-overflow: ellipsis;
}
.list-bar-menu:hover > .box-img{
	transform: scale(1.1);
}
.title-menu{
	color: #2980b9;
	font-size: 20px;
}
.list-bar-kasir{
	margin: 20px auto;
	padding:20px;
	padding-top: 50px;
	background: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.2s;
}
.col-title-list{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.col-title-list li{
	float: left;
	padding: 0;
	margin: 0;
}
.box-img{
	width: 130px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	transition: 0.2s;
}
.list-bar-menu-bayar{
	margin: 20px auto;
	padding:10px 20px ;
	background: white;
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.2s
}
.list-bar-menu-det-bayar{
	margin: 20px auto;
	padding:0 ;
	background: white;
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.2s
}
.content-dashboard-kasir hr{
	margin: 0;
}
.list-bar-menu-det-bayar p.harga-bayar{
	position: absolute;
	color: #333;
	right: 20px;
	top: 8px;
	font-size: 20px
}
.list-bar-menu-det-bayar p.total-bayar{
	position: absolute;
	color: #333;
	right: 20px;
	top: -3px;
	font-size: 20px
}

.list-bar-menu-bayar:hover{
	background: #f1f1f1;
}

.list-bar-menu-waiting{
	margin: 20px auto;
	padding:20px;
	background-color: rgba(255,255,255,0.5);
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.2s
}
.list-bar-menu-waiting p{
	color: #FFF;
}
.list-bar-menu span.desc_produk{
	font-size: 14px;
	color: rgba(0,0,0,0.6);
}

.list-bar-menu-dapur{
	margin: 20px auto;
	padding:20px;
	background-color: rgba(255,255,255,0.5);
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: 0.2s
}
.list-bar-menu-dapur p{
	color: #FFF;
}
.title-bar{
	margin: 20px auto;
	padding:20px;
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
}
.form-group{
	overflow: hidden;
	position: relative;
}

.form-group .label-form{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
	color:rgba(255,255,255,0.5);
}

.form-login{
	background-color: rgba(255,255,255,0.5);
	border:none;
	padding: 40px 10px 20px 10px;
	transition: 0.2s;
}
.card-body{
	color: #FFF;
}

.card-body h1{
	margin:0;
	font-size: 43px;
}

.card-body p{
	color: rgba(255,255,255,0.5);
	margin-bottom: 0;
}

.card-body-pembayaran{
	color: #333;
}

.card-body-pembayaran h1{
	margin:0;
	font-size: 43px;
}

.card-body-pembayaran p{
	color: rgba(0,0,0,0.5);
	margin-bottom: 0;
}

.form-login:focus{
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
}
.btn-login{
	background-color: #FFF;
	color: #21497A;
	text-align: left;
	width: 100%;
	font-size: 15px;
	padding: 20px 15px;
	text-transform: uppercase;

}
.btn-login:hover{
	background-color: #21497A;
	color: #FFF

}
.btn-bayar{
	background: -moz-linear-gradient(31deg, rgba(72,102,120,1) 0%, rgba(1,47,69,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(72,102,120,1)), color-stop(100%, rgba(1,47,69,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(31deg, rgba(72,102,120,1) 0%, rgba(1,47,69,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(31deg, rgba(72,102,120,1) 0%, rgba(1,47,69,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(31deg, rgba(72,102,120,1) 0%, rgba(1,47,69,1) 100%); /* ie10+ */
	background: linear-gradient(59deg, rgba(72,102,120,1) 0%, rgba(1,47,69,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486678', endColorstr='#012F45',GradientType=1 ); /* ie6-9 */
	color: #FFF;
	text-align: left;
	width: 100%;
	font-size: 15px;
	padding: 20px 15px;
	text-transform: uppercase;
	transition: 0.2s;

}
.btn-bayar:hover{
	background: -moz-linear-gradient(31deg, rgba(50,71,84,1) 0%, rgba(0,32,46,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(50,71,84,1)), color-stop(100%, rgba(0,32,46,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(31deg, rgba(50,71,84,1) 0%, rgba(0,32,46,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(31deg, rgba(50,71,84,1) 0%, rgba(0,32,46,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(31deg, rgba(50,71,84,1) 0%, rgba(0,32,46,1) 100%); /* ie10+ */
	background: linear-gradient(59deg, rgba(50,71,84,1) 0%, rgba(0,32,46,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324754', endColorstr='#00202E',GradientType=1 ); /* ie6-9 */
	color: #FFF

}
.btn-pembayaran1{
	background-color: #FFF;
	color: #21497A;
	text-align: center;
	width: 100%;
	font-size: 15px;
	padding: 20px 15px;
	text-transform: uppercase;
	border:none;
	border-radius: 0;
}
.btn-green:hover{
	background-color: #21497A;
	color: #FFF

}
.btn-green{
	background-color: #2ecc71;
	color: #FFF;
}
.btn-midnightblue{
	background-color: #2c3e50;
	color: #FFF;
}
.btn-midnightblue:hover{
	color: #FFF;

}
.disable{
	background-color:#95a5a6;
	color: #7f8c8d;
}
.btn-green:hover{
	background-color: #27ae60;
	color: #FFF;
}
.btn-add-pesan{
	background: -moz-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(33,73,122,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(359deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#21497A',GradientType=0 ); /* ie6-9 */
	font-size: 14px;
	padding: 5px 15px;
	border-radius: 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}

.flag-pesan{
	font-size: 14px;
	padding: 5px 15px;
	border-radius: 10px;
	position: absolute;
	bottom: 15px;
	right: 20px;
	cursor: pointer;
}

.main-bar{
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
	padding: 0;
	overflow: hidden;

}

.col-main-bar{
	float: left;
	padding: 0;
	margin:0;
	width: 50%;
	text-align: center;
}

.col-main-bar button{
	border:none;
	padding: 10px 35px;
	background-color: #333;
	color: #FFF;
	border-radius: 50px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	margin-bottom: 50px;
	cursor: pointer;
}

.col-main-bar button{
	border:none;
	padding: 10px 35px;
	background-color: #424242;
	color: #FFF;
	border-radius: 50px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	margin-bottom: 50px;
	cursor: pointer;
}

.col-main-bar button.active{
	border:none;
	padding: 10px 35px;
	background-color: #FFF;
	color: #000;
	border-radius: 50px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.27);
	margin-bottom: 50px
}

.label-jml-pesanan{
	background-color: rgba(255,255,255,0.5);
	padding: 5px 15px;
	font-size: 14px;
	border-radius: 50px;
}
.kurang-pesan{
	right: 90px;
}
.jml_pesan{
	position: absolute;
	right: 0px;
	bottom:25px;
}
.kepala_keranjang{
	margin: -10px auto;
	margin-top: 2px;
	max-width: 700px;
	border-radius: 10px;
	overflow: hidden;
}
.kepala_keranjang a{
	text-decoration:none; 
	color: #FFF;
}
.summary_keranjang{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.summary_keranjang li{
	float: left;
	width: 50%;
}
.btn-next{
	position: absolute;
	right: 0;
	bottom: 20px;
	border: 0;
}
.box-list{
	overflow-y: scroll;
	height: 300px;
	margin: 0;
	padding: 0;
}
.box-btn-waiting{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	bottom: 20px;
	margin-top: 30px;
}
.box-btn-waiting li{
	float: left;
	width: 50%;
}
.title-list-bar{
	background: -moz-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(33,73,122,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(91deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(359deg, rgba(33,73,122,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#21497A',GradientType=0 ); /* ie6-9 */
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #FFF;
	padding:10px 20px;
}
.title-list-bar-kasir{
	background: -moz-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(26,6,6,1)), color-stop(100%, rgba(14,0,84,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(26,6,6,1) 0%, rgba(14,0,84,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E0054', endColorstr='#1A0606',GradientType=1 ); /* ie6-9 */
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #FFF;
	padding:10px 20px;
}
.sub-title{
	color: rgba(0,0,0,0.5);
}
.row-dapur{
	margin: 0;
	padding: 50px;
	width: 100%;
}
.container-dapur{
	width: 100%;
	padding:0;
	margin: 0;
	height: 100vh;
	color: #FFF;
}
.header-dapur{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.col-header-dapur{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
.col-header-dapur li{
	width: 33.3%;
	float: left;
}
.content-dapur{
	width: 100%;
	padding:0;
	margin: 0;
	color: #FFF;
	height: 80vh;
	overflow: hidden;
}
.col-content-dapur{
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.col-content-dapur li{
	max-height: 100%;
	float: left;
	max-height: 80vh;
	overflow-y: scroll;
	padding: 10px;
	width: 25%;
}
.footer-dapur{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.col-footer-dapur{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
.col-footer-dapur li{
	width: 33.3%;
	float: left;
}
.box-dapur{
	background-color: white;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	padding: 10px;
	padding-top: 50px;
}
.head-box-dapur{
	position: absolute;
	width: 100%;
	padding:20px 0 0 0;
	text-align: center;
	top: 0;
	left: 0;
	color: #FFF;
}

.merah{
	background-color: #e74c3c
}
.orenmuda{
	background-color: #e67e22
}
.orentua{
	background-color: #d35400
}
.abu{
	background-color: #7f8c8d
}
.item-dapur{
	background-color: white;
	overflow: hidden;
	width: 100%;
	color: #000;
	margin: 15px 0 0 0;
}
.col-item-dapur{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	padding: 0 10px;
	overflow: hidden;
	cursor: pointer;
}
.col-item-dapur li{
	float: left;
	margin: 0;
	width: 33.3%;
	height: 100%;
	vertical-align: middle;
}
.col-item-dapur li p{
	font-size: 40px;
	margin: 0;
}
.col-item-dapur li p.tag-makanan{
	background-color: #7f8c8d;
	padding: 2px 10px;
	color: #FFF;
	font-size: 14px;
	border-radius: 5px;
	margin: 10px 0;
}
.col-item-dapur li p.tag-minuman{
	background-color: #d35400;
	padding: 2px 10px;
	color: #FFF;
	font-size:14px;
	border-radius: 5px;
	margin: 5px 0;
}
.head-form{
	margin-bottom: 40px;
}
.head-form a{
	text-decoration: none;
	color: #333
}
.head-form p.tgl_bayar{
	margin-bottom: -20px;
}
.col-head-kasir{
	padding: 0;
	margin:0;
	list-style: none;
	text-decoration: none;
}
.col-content-kasir a{
	color: #FFF;
}
.col-head-kasir li{
	float: left;
	padding: 0;
	margin: 0;
}

.col-content-kasir{
	padding: 0;
	margin:0;
	list-style: none;
	width: 100%;
}
.col-content-kasir li{
	float: left;
	padding: 0;
	margin: 0;
	width: 50%;
}
.box-dashboard-kasir{
	background-color: rgba(255,255,255,0.2);
	margin: 5px;
	padding: 50px 0;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}
.box-dashboard-kasir h1{
	font-size: 72px;
}
.box-1-kasir{
	background: -moz-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232,252,101,1)), color-stop(100%, rgba(245,165,100,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8FC65', endColorstr='#F5A564',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.box-1-kasir:hover{
	transform: scale(1.03);
}
.box-2-kasir{
	background: -moz-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(122,160,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#7AA0FF',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.box-2-kasir:hover{
	transform: scale(1.03);
}
.box-3-kasir{
	background: -moz-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,61,120,1)), color-stop(100%, rgba(255,77,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803D78', endColorstr='#FF4DFF',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.box-3-kasir:hover{
	transform: scale(1.03);
}
.box-4-kasir{
	background: -moz-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107,17,61,1)), color-stop(100%, rgba(255,106,13,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B113D', endColorstr='#FF6A0D',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.box-4-kasir:hover{
	transform: scale(1.03);
}
.col-dashboard-admin{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
.sidemenu{
	float: left;
	padding: 0 10px;
	background-color: rgba(0,0,0,0.1);
	margin: 0;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
}
.content-admin{
	float: right;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	padding-left: 65px;
}
.sidemenu-list{
	padding: 0;
	margin: 0;
	margin-top: 10px;
	list-style: none;
}
.sidemenu-list a{
	text-decoration: none;
}
.sidemenu-list li{
	padding: 20px 0;
	margin: 0;
	color: rgba(255,255,255,0.5);
	text-align: center;
	font-size: 9px;
}
.sidemenu-list i{
	margin-bottom: 10px;
	font-size: 24px;
}
.sidemenu-list li.active{
	color: cyan
}
.head-content-admin{
	padding: 0;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.col-head-content-admin{
	padding: 40px 50px;
	margin: 0;
	list-style: none;
	float: right;
}
.col-head-content-admin a{
	text-decoration: none;
}
.col-head-content-admin li{
	float: left;
	padding: 0;
	margin: 0;
	color: rgba(255,255,255,0.5);
	font-size: 14px;
}
.body-content-admin{
	color: #FFF;
	margin: 0;
	padding: 0 50px;
}
.body-content-cetak{
	color: #000;
	margin: 0;
	padding: 0 50px;
}
.box-count-area{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.summary-box-count-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.summary-box-count-list li{
	float: left;
	padding: 0;
	margin: 0;
	width: 25%;
}
.box-count{
	margin: 10px;
	padding: 20px 20px;
	padding-bottom: 60px;
	text-align: right;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	position: relative;
}
.box-count h1{
	font-size: 50px
}
.btn-box-count{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	border:0;
	text-align: right;
	font-size: 14px;
	padding: 10px 20px;
}

.btn-box-count-1{
	background: -moz-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232,252,101,1)), color-stop(100%, rgba(245,165,100,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(245,165,100,1) 0%, rgba(232,252,101,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8FC65', endColorstr='#F5A564',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.btn-box-count-2{
	background: -moz-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(122,160,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#7AA0FF',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.btn-box-count-3{
	background: -moz-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,61,120,1)), color-stop(100%, rgba(255,77,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(255,77,255,1) 0%, rgba(128,61,120,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#803D78', endColorstr='#FF4DFF',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.btn-box-count-4{
	background: -moz-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107,17,61,1)), color-stop(100%, rgba(255,106,13,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(255,106,13,1) 0%, rgba(107,17,61,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B113D', endColorstr='#FF6A0D',GradientType=0 ); /* ie6-9 */
	transition: 0.2s;
}
.content-table{
	height: 600px;
	overflow: hidden;
	border-radius: 5px;
}
.table-data{
	width: 100%;
}

.table-data td,th{
	padding: 10px 10px;
	color: #FFF;
	background-color: rgba(255,255,255,0.2);
	margin: 20px 0;
}
.dhead{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
}
.dbody{
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	max-height: 60vh;
	overflow: scroll;
}
.ul-data-table{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
.dhead .ul-data-table li{
	text-align: center;
	float: left;
	margin: 10px 0;
	padding: 10px 20px;
}
.dbody .ul-data-table li{
	text-align: center;
	float: left;
	margin: 10px 0;
	padding: 20px 20px;
	background-color: rgba(255,255,255,0.2);
}
.ul-data-table li a{
	color: #FFF;
}
.head-content-table{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}
.left-head-content-table{
	float: left;
	width: 50%;
}
.right-head-content-table{
	float: left;
	width: 50%;
	text-align: right;
}
.btn-add{
	background: -moz-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(122,160,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(89deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(1deg, rgba(122,160,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#7AA0FF',GradientType=0 ); /* ie6-9 */
	border: 0;
}
.form-data{
	padding: 0;
	margin: 0;
	max-height: 65vh;
	overflow: scroll;
}
.form-data-control{
	max-width: 500px;
	border: 0;
	background: rgba(0,0,0,0.2);
	color: #FFF;
}
.head-det_dapur{
	background: rgba(255,255,255,0.1);
}
.progress_dapur{
	margin: 0 20px;
	margin-bottom: 20px;
}
.progress-dapur-kasir{
	margin: 10px 0;
}
.form-search-bayar{
	border: 1px solid rgba(0,0,0,0.1);
	padding: 30px 20px;
	outline: none;
}
.form-nominal-bayar{
	border: 1px solid rgba(0,0,0,0.1);
	padding: 30px 20px;
	padding-left: 70px;
	outline: none;
}
.form-search-bayar:focus{
	outline: none;
}
.search-bar{
	position: relative;
	padding: 0;
	margin: 0;
}
.search-bar i{
	position: absolute;
	right: 30px;
	top: 22px
}
.nominal-bar{
	position: relative;
	padding: 0;
	margin: 0;
}
.nominal-bar b{
	position: absolute;
	left: 30px;
	top: 18px
}
.list-bayar-area{
	max-height: 200px;
	overflow: scroll;
}
a.btn-logout-kasir{
	font-size: 14px;
	color: #FFF;
	margin-top: 20px;
	text-decoration: none;
}
.bill{
	background-color: white;
	color: black;
	padding: 20px;
	border-radius: 5px;r
}
.table-desc tr{
	border-bottom: 0.1px solid rgba(0,0,0,0.5);
	font-size: 13px;
}
.table-desc td{
	padding: 10px;
}
.table-desc span{
	font-size: 13px;
}
.thank-you-pop-desc{
	height: 300px;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: scroll;
}

.kiri-laporan{
	float: left;
	margin: 0;
	width: 45%;
	padding: 0;
	margin-right: 10px;
}

.kanan-laporan{
	float: right;
	width: 45%;
	margin: 0;
	padding: 0;
	margin-left: 10px;
}
.kiri-laporan h2{
	float: left;
}
.kanan-laporan h2{
	float: left;
}
.tmbl-cetak{
	background: green;
	color: #FFF;
	padding: 5px 15px;
	text-decoration: none;
}
.tmbl-cetak{
	background: #2ecc71;
	color: #FFF;
	padding: 5px 15px;
	float: right;
	border-radius: 5px;
	text-decoration: none;
}
.tmbl-cetak:hover{
	color: #FFF;
	text-decoration: none;
	background: #27ae60
}
.sub-judul{
	overflow: hidden;
}
.flag{
	padding: 3px 10px;
	color: #FFF;
	border-radius: 5px;
}